.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d0e0d0;
}

.profile-card {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 2rem;
    background-color: #fefefe;
    border-radius: 8px;
    align-items: center;
    max-width: 80%;
}

@media (max-width: 960px) {
    .profile-card {
        flex-direction: column;
        width: 90%;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    margin: 1rem;
    border-left: 1px solid #999999;
}

.name{
    font-size: large;
    padding: 0.5rem;
    border-bottom: 1px solid #999999;
}

.introduction{
    font-size: medium;
}